{
  "jina_reader_base": "https://r.jina.ai",
  "openai_api_base": "https://api.openai.com/v1",
  "openai_api_key":  "sk-xxx",
  "openai_llm_model": "gpt-4o",
  "openai_audio_model": "tts-1",
  "max_words": 50000,
  "white_url_list": [],
  "black_url_list": ["https://support.weixin.qq.com", "https://channels-aladin.wxqcloud.qq.com"]
}
